.banner {
  position: relative;
  height: 248px;
  color: white;
  object-fit: contain;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("https://e0.pxfuel.com/wallpapers/452/6/desktop-wallpaper-poster-movie-film-movies-posters-bollywood-movie-collage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "center center";
}
